*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items:center;
}



header {
    
    background-color: grey;
    max-width:1920px;
    height: 100vh;
    position: relative;
}

.logo {
    padding: 0;
    justify-content: center;
    align-items: baseline;
    position: absolute;
  
    left: 19%;
    right: 67.95%;
    top: 32px;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;

}

.logo ,nav {
    z-index: 2;
}

nav {
   
    position: absolute;
    left: 50%;
    right: 19%;
    top: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    width: 31%;
    justify-content: space-between;
   
}

nav a {
    
   color: #FFFFFF; 
   letter-spacing: 0.2px;
   text-decoration: none;
    transition: all 0.4s;
    border-bottom: 2px solid transparent;
}


nav a:hover {
    border-bottom-color: white;
}

.lazy {
     
    width: 100% !important;
    height: 100% !important;
    
}

